* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*pesquisar sobre*/
}

body {
    height: 100%;
    width: 100%;
    color: #fff;
    background: #ebf2f5;
}

body, input, button, textarea {
    font: 600 18px Nunito, sans-sarif;
}